body {
  background-color: Chocolate;
}

h1 {
  font-family: verdana;
  text-align: center;
}

h2 {
  font-family: verdana;
  text-align: center;
}

h3 {
  font-family: verdana;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 18px;
}
